body {
    margin: 0px;
    background: transparent;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    padding: 0px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin-top: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    z-index: 10;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
}

.container .header {
    background-image: linear-gradient(180deg, #2b82ac 0%, #f5fdfe 100%);
    display: flex;
    top: 0;
    height: 100px;
}

.container .header .logo {
    width: 300px;
    display: flex;
    justify-content: center;
    padding-top: 2px;
}

.container .header .logo img {
    margin-left: 5px;
    border-radius: 50%;
    width: 133px;
    height: 95px;
}

.container .header .item-menu-left {
    display: flex;
    margin-right: 5%;
    align-items: center;
    padding-top: 30px;
    justify-content: center;
}

.container .header .item-menu-left .item-menu {
    width: 235px;
    margin: 0px 10px 10px 0px;
}

.container .header .item-menu-left .item {
    padding: 8px;
    border-radius: 10px;
    background-color: #ffffff;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    position: relative;
    height: 30px;
    font-size: 20px;
    font-family: serif;
}

.container .header .item-menu-left .line {
    height: 2px;
    width: 90%;
    margin: 5px auto;
}

.container .header .item-menu-left .line.active {
    background-color: #2b82ac;
    box-shadow: 2px 2px 10px 2px #2b82ac;
}

.container .header .item-menu-left .item-menu:hover .line {
    background-color: #2b82ac;
    box-shadow: 1px 1px 5px 1px #2b82ac;
}

.container .header .item-menu-right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 10px;
}

.container .header .item-menu-right .info-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .header .item-menu-right .btn-logout {
    height: 30px;
    border-radius: 10px;
    border: 0px solid;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.container .header .item-menu-right .title-user-info {
    color: white;
    margin-right: 10px;
}

.container .header .item-menu-right .dropdown {
    margin-top: 16px;
    position: relative;
    display: inline-block;
    margin-right: 72px;
}

.container .header .item-menu-right button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .header .item-menu-right .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.container .header .item-menu-right .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.container .header .item-menu-right .dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.container .header .item-menu-right .dropdown:hover .dropdown-content {
    display: block;
}

.btn-dropmenu {
    border: 0px solid;
    padding: 0.8em 3.7em;
    border-radius: 10px;
    transition: all 0.2s;
}

.main .box-search {
    display: none;
    width: 100%;
}

.main .box-search.active {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-direction: column;
}


/* footer */

.footer {
    background-color: rgb(249, 249, 249);
    height: 510px;
    bottom: 0px;
    width: 100%;
    display: flex;
    color: rgb(0, 0, 0);
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    padding-top: 70px;
    overflow-x: hidden;
}

.footer .footer-main {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-left: 5%;
}

.footer .footer-main .footer-main-content {
    width: 22%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 283px;
    margin-bottom: 150px;
}

.footer .footer-main .footer-main-content .title {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .footer-main .footer-main-content .title h5 {
    color: rgb(85, 85, 85);
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    letter-spacing: 0.048em;
    font-family: "PT Sans Caption", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
}

.footer .footer-main .footer-main-content .content {
    margin-top: 30px;
    width: 85%;
    display: flex;
    flex-direction: row;
}

.footer .footer-main .footer-main-content .content .menu-footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: medium;
    font-family: sans-serif;
    text-align: left;
    line-height: 28px;
    color: #ab3636;
}

.footer .footer-main .footer-main-content .content .menu-footer-container a {
    color: #ab3636;
    text-decoration: none;
}

.footer .footer-main .footer-main-content .content .menu-footer-container .menu-item {
    list-style-type: none;
    width: 85%;
    font-size: 14px;
}

.footer .footer-main .footer-main-content .content .menu-footer-container .menu-item .item {
    line-height: 40px;
    border-bottom: 1px solid rgb(238 239 241);
    text-align: left;
}

.footer .footer-main .footer-main-content .content .menu-footer-container .menu-item .item a {
    text-decoration-line: none;
    color: #ab3636;
    font-family: system-ui;
    font-size: 18px;
}

.footer .footer-main .footer-main-content .content .menu-footer-container .menu-social-icon .icon a {
    text-decoration-line: none;
    color: #ab3636;
    font-family: system-ui;
}

.footer .footer-main .footer-main-content .footer-social-media {
    height: 16%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .footer-main .footer-main-content .footer-social-media .menu-social-icon {
    list-style-type: none;
    margin-top: 15px;
}

.footer .footer-main .footer-main-content .footer-social-media .menu-social-icon .icon {
    line-height: 40px;
}

.footer .copy-right-by {
    background: rgb(224, 224, 224);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    font-family: sans-serif;
}

.footer .copy-right-by .powered span {
    font-weight: bold;
}

.footer .background-content-footer {
    background-image: url("/asset/images/logo-fb.jpg");
    width: 400px;
    height: 166px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.footer .content-fb {
    width: 400px;
    height: 86px;
    display: flex;
}

.footer .content-fb .title {
    display: flex;
    flex-direction: column;
}

.footer .content-fb .title a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding-left: 27px;
    position: absolute;
    margin-top: -16px;
}

#fb-root {
    margin-top: 60px;
}

.footer-main-content .service .menu-item {
    margin-bottom: 22px !important;
}

.footer-main-content .title .title-service {
    width: 166px;
}

.footer-main-content .title .title-social {
    width: 435px;
}