@media screen and (max-width: 1630px) {
    .view-date-select .view-type-body {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .view-date-select .view-type-body .calendar-content {
        margin-bottom: 20px;
    }
    #history1 .banner .banner-item {
        height: 450px !important;
    }
    #history1 .banner {
        top: 555px !important;
    }
    #history1 .drop-image {
        margin-top: 260px !important;
    }
}

@media screen and (max-width: 1600px) {
    #history1 .banner .banner-item {
        height: 520px !important;
        top: 600px !important;
    }
}

@media screen and (max-width: 1358px) {
    #history1 .banner .banner-item {
        height: 450px;
    }
}