@media screen and (max-width: 1699px) {
    .view-date-select .view-type-body {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .view-date-select .view-type-body .calendar-content {
        margin-bottom: 20px;
    }
    #home .banner .banner-item {
        height: 450px !important;
    }
    #home .banner {
        top: 555px !important;
    }
    #home .drop-image {
        margin-top: 255px !important;
        height: 200px !important;
        width: 100% !important;
    }
    #home .introduce-price .info-price .item p {
        font-size: inherit !important;
    }
    .container .header .item-menu-left {
        width: 80% !important;
        margin-right: 100px !important;
    }
    #home .content-service {
        margin-top: 290px !important;
    }
}

@media screen and (max-width: 1450px) {
    #seo .description .description-position {
        width: 90% !important;
    }
    #home .content-service .service {
        width: 980px !important;
    }
    #home .banner .banner-item {
        height: 450px !important;
        width: 1000px !important;
        padding: 20px 35px 30px !important;
    }
    #home .drop-image {
        margin-top: 240px !important;
        height: 200px !important;
    }
    #home .introduce {
        height: 850px !important;
    }
    #home .banner {
        top: 490px !important;
    }
    #home .introduce-price .info-price {
        width: 1040px !important;
    }
    #home .content-service .service .content h3 {
        font-size: 20px !important;
    }
    .container .header .item-menu-left {
        width: 70% !important;
        margin-right: 10% !important;
    }
    #home .content-service {
        margin-top: 90px !important;
    }
}