#tsparticles {
    position: absolute;
    width: 100%;
    height: 75%;
    background-color: rgb(13, 71, 161);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.tsparticles-canvas-el {
    background-image: url("/asset/images/Content-images-background.png") !important;
    position: unset !important;
}